__pycache__/
/.coverage
/.coverage.*
/.mypy_cache/
/.nox/
/.pdm.toml
/.pytest_cache/
/.venv/
/build/
/coverage.json
/coverage.lcov
/coverage.xml
/dist/
/htmlcov/
{% if project_type == "lib" %}
/pdm.lock
{% endif %}
