import subprocess
import sys
from pathlib import Path

Path(__file__).unlink()

# Do not run this script on updates.
if (Path(__file__).parent / ".git").exists():
    sys.exit()


subprocess.run(["pdm", "update", "--unconstrained"], check=True)
subprocess.run(["git", "init"], check=True)
