import subprocess
from pathlib import Path

def pdm_add(*args):
    subprocess.run(["pdm", "add", *args], check=True)

def git(*args):
    subprocess.run(["git", *args], check=True)

{% if project_type == "bin" %}
pdm_add("click")
{% endif %}

pdm_add("-dG", "black", "black")
pdm_add("-dG", "flake8", "flake8", "flake8-docstrings")
pdm_add("-dG", "isort", "isort")
pdm_add("-dG", "mypy", "mypy", "pytest")
pdm_add("-dG", "pytest", "pytest")
pdm_add("-dG", "audit", "pip-audit")
pdm_add("-dG", "nox", "nox")

Path(__file__).unlink()

git("init")
git("add", ".")
git("commit", "-m", "chore: initial commit")
