import subprocess
import sys
from pathlib import Path

Path(__file__).unlink()

# Do not run this script on updates.
if (Path(__file__).parent / ".git").exists():
    sys.exit()


subprocess.run(["git", "init", "--quiet"], check=True)
{% if repository_hosted and repository_provider == "github.com" %}
origin = "git@github.com:{{ repository_namespace }}/{{ repository_name }}.git"
subprocess.run(["git", "remote", "add", "origin", origin])
{% endif %}
