import nox

nox.options.default_venv_backend = "none"


@nox.session()
def ruff(session: nox.Session) -> None:
    session.run("ruff", "check", ".")
    session.run("ruff", "format", "--check", ".")


@nox.session()
def mypy(session: nox.Session) -> None:
    session.run("mypy", ".")


@nox.session()
def pytest(session: nox.Session) -> None:
    session.run("pytest")
{% if project_type == "lib" or pages_enabled %}


@nox.session()
def sphinx(session: nox.Session) -> None:
    session.run("sphinx-build", "docs", "docs/_build/html")
{% endif %}


@nox.session()
def audit(session: nox.Session) -> None:
    session.run("pip-audit", "--skip-editable")
