import click

from . import HELLO


@click.command(context_settings={"help_option_names": ["-h", "--help"]})
def cli() -> None:
    """{{ project_description }}"""
    click.echo(HELLO)


def main():
    cli()


if __name__ == "__main__":
    main()
