project = "{{ project_name }}"
author = "{{ author_fullname }}"
copyright = "{{ copyright_year }}, {{ copyright_holder }}"

extensions = [
    "sphinx.ext.autodoc",
{% if pages_enabled and pages_provider == "github.io" %}
    "sphinx.ext.githubpages",
{% endif %}
    "sphinx.ext.intersphinx",
    "sphinx.ext.napoleon",
]

html_theme = "furo"

intersphinx_mapping = {
    "https://docs.python.org/3": None,
}
