{{ project_name }}
{{ project_name | length * "=" }}

{{ project_description }}


API reference
-------------

.. automodule:: {{ module_name }}
   :members:
   :undoc-members:
   :show-inheritance:


Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
