{{ project_name }}
{{ project_name | length * "=" }}

{{ project_description }}
{% if repository_provider != "none" %}

Repository_

.. _Repository: https://{{ repository_provider }}/{{ repository_namespace }}/{{ repository_name }}
{% endif %}


API reference
-------------

.. automodule:: {{ module_name }}
   :members:
   :undoc-members:
   :show-inheritance:


Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
