{{ project_name }}
{{ project_name | length * "=" }}

{{ project_description }}
{% if repository_hosted %}

Repository_

.. _Repository: {{ repository_url }}
{% endif %}


API reference
-------------

.. automodule:: {{ module_name }}
   :members:
   :undoc-members:
   :show-inheritance:


Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
